html,
body {
  margin: 0px;
}

.background-container {
  background: red;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../../assets/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}