html,
body {
  text-align: left;
  height: 100%;
}

.theme-dark {
  background-color: #e2e8f0;
  color: #1a202c;
  height: 100%;
}

.theme-light {
  color: #e2e8f0;
  background-color: #1a202c;
  height: 100%;
}

.item-icon {
  color: gray;
}
.item-icon:hover {
  color: white;
}
